*{
    margin: 0;
    font-family: helvetica;
}

::-webkit-scrollbar {
    display: none;
}


body{
    background-color: #007FB7;
}

#header{
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: #007FB7;
}

#vlv img{
    width: 35px;
    height: 35px;
    position: relative;
    top: 15px;
    left: 10px;
}

#barra{
    background-color: white;
    border-radius: 20px;
    width: 150px;
    height: 12px;
    position: relative;
    left: 121px;
    bottom: 10px;
}

#imgsuperior{
    width: 375px;
    height: 100px;
    border-radius: 15px;
    position: relative;
    margin: 0 auto;
    background-color: ;
    overflow: hidden;
}
#imgsuperior img{
    width: 379px;
    height: 230px;
    bottom: 61.5px;
    position: relative;
}

#desplegable{
    width: 375px;
    height: 598px;
    background-color: yellow;
    position: relative;
    margin-top: 5px;
    border-radius: 15px 15px 0 0;
}

#imgcentre{
    width: 350px;
    height: 380px;
    background-color: ;
    position: relative;
    margin: 0 auto;
    top: 50px;
}

#imgcentre img{
    width: 300px;
    height: 390px;
    position: relative;
    top: 0px;
    left: 25px;
}

.boto1{
    width: 200px;
    height: 55px;
    background-color: ;
    border: #007FB7 solid 2px;
    position: relative;
    top: 80px;
    border-radius: 40px;
    left: 90px;
    color: white;
}

.boto1:hover{
    background-color: #007FB7;
    border: 2px solid #007FB7;
    color: white;
}




#titol{
    width: 330px;
    height:60px;
    background-color: ;
    position: relative;
    margin: 0 auto;
    font-size: 0.8rem;
    text-align: center;
    top: 30px;
}

h3{
    position: relative;
    top: 16px;

    color: #007FB7;
    background-color: ;
    height: 40px;
    text-align: center;
    top: 0px;
    padding-top: 15px;
}

h3:hover{
    color: white;
}



.llarg{
    left: 26px;
}

/*_______________________pestanyes_____________________*/


/*_______________________contenidor_______________*/

#contenidor1{
    width: 375px;
    height: 603px;
    position: relative;
    margin: 0 auto;
    background-color: #007FB7;
    top: 66px;
    border-radius:15px 2% 0 0;
    z-index: 300;
}


/*_______________________contenidor_______________*/

#contenidor2{
    width: 375px;
    height: 603px;
    background-color: #007FB7;
    position: relative;
    top: 0px;
   
    overflow: scroll;
}




/*_______________________contenidor_______________*/
/*_______________________footer_____________________*/

#footer{
    height: 60px;
    width: 100%;
    background-color: #007FB7;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

#footer2{
    width: 390px;
    height: 100%;
    background-color:#007FB7;
    position: relative;
    margin: 0 auto;
    z-index: 5;
}

.icon{
    width: 52px;
    height: 52px;
    background-color: ;
    float: left;
    margin-left: 22px;
    margin-top: 4px;
}



.check img{
    width: 40px;
    height: 34px;
    position: relative;
    top: 9px;
    left: 4px;
    opacity: 80%;
}

.lupa img{
    width: 36px;
    height: 36px;
    position: relative;
    top: 8px;
    left: 8px;
    opacity: 80%;
}

.home{
    background-color: #225587;
    border-radius: 50%;
    width: 62px;
    height: 62px;
    margin-left: 17px;
    margin-right: -7px;
    top: -20px;
    position: relative;
    border: solid 4px white;
    position: relative;
    z-index: 4;
}

.home img{
    width: 38px;
    height: 38px;
    position: relative;
    top: 10px;
    left: 12px;
    
}

.zen img{
    width: 38px;
    height: 38px;
    position: relative;
    top: 7px;
    left: 7px;
    opacity: 80%;
}

.config img{
    width: 38px;
    height: 38px;
    position: relative;
    top: 7px;
    left: 7px;
    opacity: 80%;
}

a{
    text-decoration: none;
}
/*_______________________footer_____________________*/

.bolita{
    position: relative;
    width:150px;
    height:150px;
    background:;
    border-radius:50%;
    background-image: conic-gradient(rgb(250, 36, 36) 100deg, rgb(249, 115, 115) 100deg);
    position:relative;
    z-index:200;
    animation: giro 1s linear;
  }
  
  .bolita::before{
    position: absolute;
    top: 10px;
    left: 10px;
    content:"";
    display: block;
    width:130px;
    height:130px;
    border-radius: 50%;
    background:white;
    position:relative;
    z-index:1;
  }
  
  @keyframes giro{
    0% {
      transform: rotate(0deg);}
    100% {
      transform: rotate(360deg);}+
    *
  }

.total{
    background-color: black;
    width: 150px;
    height: 190px;
    position: relative;
}

.uno{
    position: relative;
    top: 30px;
    left: 30px;
}

.dentro{
    width: 100px;
    height: 70px;
    background-color: green;
    position: relative;
    bottom: 110px;
    z-index: 10000;
    left: 25px;
}

.abajo{
    width: 150px;
    height: 35px;
    position: relative;
    z-index: 20000;
    background-color: rgb(250, 36, 36);
    border-radius: 15px;
    bottom: 85px;
}

.txtabajo{
    color: white;
    font-size: 0.9rem;
    text-align: center;
    position: relative;
    top: 9px;
}

.dos{
    position: relative;
    bottom: 160px;
    left: 200px;
}

.tres{
    position: relative;
    bottom: 150px;
    left: 29px;
}

.cuatro{
    position: relative;
    bottom: 340px;
    left: 200px;
}