*{
    margin: 0;
    font-family: helvetica;
}

::-webkit-scrollbar {
    display: none;
}


body{
    background-color: white;
}






/*_______________________contenidor_______________*/

#contenidor1{
    width: 375px;
    height: 600px;
    position: relative;
    margin: 0 auto;
    background-color: rd;
    top: px;
    border-radius:5%;
    overflow: scroll;
}



#contenidor2{
    width: 375px;
    height: 380px;
    background-color: transparent;
    position: relative;
    top: 48px;
    border-radius: 0 0 17px 17px;
    overflow: scroll;
}
 .volver{
    width: 38px;
    height: 38px;
    position: relative;
    top: 11px;
    background-color: #007FB7;
 }

#contenidor1 h2{
    color: #007FB7;
    bottom: 25px;
    margin-left: 120px;
    position: relative;
}

h5{
    position: relative;
    margin-left: 20px;
    font-size: 0.8rem;
}

#total{
    position: relative;
    background-color: white;
    position: relative;
   
    width: 174px;
    height: 160px;
    float: left;
    margin-left: 10px;
  
    right: 1px;
    margin-top: 10px;
}

.imatge{
    width: 174px;
    height: 100px;
    background-color: grey;
    border-radius: 10px;
    overflow: hidden;
}

.imatge img{
    width: 174px;
    height: 100px;
}

.titol{
    position: relative;
    color: #007FB7;
    font-size: 0.9rem;
    top: 4px;
    font-weight: 600;
}

.subtitol{
    position: relative;
    font-size: 0.75rem;
    top: 4px;
}

#subtitol2{
    width: 174px;
    height: 25px;
    position: relative;
    background-color: ;
}

/*_______________________contenidor_______________*/

/*_______________________footer_____________________*/

#footer{
    height: 60px;
    width: 100%;
    background-color: #007FB7;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

#footer2{
    width: 390px;
    height: 100%;
    background-color:#007FB7;
    position: relative;
    margin: 0 auto;
    z-index: 5;
}

.icon{
    width: 52px;
    height: 52px;
    background-color: ;
    float: left;
    margin-left: 22px;
    margin-top: 4px;
}



.check img{
    width: 40px;
    height: 34px;
    position: relative;
    top: 9px;
    left: 4px;
    opacity: 80%;
}

.lupa img{
    width: 36px;
    height: 36px;
    position: relative;
    top: 8px;
    left: 8px;
    opacity: 80%;
}

.zen{
    background-color: #225587;
    border-radius: 50%;
    width: 62px;
    height: 62px;
    margin-left: 17px;
    margin-right: -7px;
    top: -20px;
    position: relative;
    border: solid 4px white;
    position: relative;
    z-index: 4;
}

.home img{
    width: 38px;
    height: 38px;
    position: relative;
    top: 6px;
    left: 12px;
    opacity: 80%;
    
}

.zen img{
    width: 36px;
    height: 36px;
    position: relative;
    top: 11px;
    left: 13px;
  
}

.config img{
    width: 38px;
    height: 38px;
    position: relative;
    top: 7px;
    left: 7px;
    opacity: 80%;
}

/*_______________________footer_____________________*/