*{
    margin: 0;
    font-family: helvetica;
}

::-webkit-scrollbar {
    display: none;
}


body{
    background-color: white;
    overflow: hidden;
}

#header{
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: white ;
}

h2{
    position: relative;
    bottom: 20px;
    left: 130px;
    color: #007FB7;
}

#vlv img{
    width: 35px;
    height: 35px;
    position: relative;
    top: 15px;
    left: 10px;
    background-color: ;
}

#barra{
    background-color: white;
    border-radius: 20px;
    width: 150px;
    height: 12px;
    position: relative;
    left: 121px;
    bottom: 10px;
}

#imgsuperior{
    width: 375px;
    height: 100px;
    border-radius: 15px;
    position: relative;
    margin: 0 auto;
    background-color: ;
    overflow: hidden;
}
#imgsuperior img{
    width: 379px;
    height: 230px;
    bottom: 61.5px;
    position: relative;
}

#desplegable{
    width: 375px;
    height: 458px;
    background-color: #007FB7;
    position: relative;
    margin-top: 145px;
    border-radius: 15px 15px 0 0;
}

#cercle1{
    width: 170px;
    height: 170px;
    position: relative;
    background-color: #007FB7;
    margin: 0 auto;
    border-radius: 50%;
    bottom: 120px;
}

#cercle2{
    width: 130px;
    height: 130px;
    position: relative;
    background-color: #225587;
    margin: 0 auto;
    border-radius: 50%;
    top: 20px;

}

#cercle3{
    width: 105px;
    height: 105px;
    position: relative;
    background-color: white;
    margin: 0 auto;
    border-radius: 50%;
    top: 13px;

}

.txtbola1{
    font-size: 3.5rem;
    position: relative;
    left: 36px;
    top: 8px;
    color: #007FB7;
}

.txtbola2{
    font-size: 1.15rem;
    color: #007FB7;
    font-weight: 600;
    left: 32px;
    position: relative;
}

#actiu{
    background-color: #03ad2e;
    width: 80px;
    height: 21px;
    position: relative;
    bottom: 150px;
    left: 20px;
    border-radius: 5px;
}

#personalitzar{
    background-color: #04bef7;
    width: 90px;
    height: 21px;
    position: relative;
    bottom: 171px;
    left: 266px;
    border-radius: 5px;
}

.bola{
    background-color: rgb(206, 206, 206);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: relative;
    float: left;
    bottom: 185px;
    margin-left: 60px;
    
    margin-top: 40px;
    left: -22px;
}

.bolaesp1{
    background-color: rgb(206, 206, 206);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: relative;
    left: 158px;
    bottom: 266px;
  
}

.bolaesp2{
    background-color: rgb(206, 206, 206);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: relative;
    left: 278px;
    bottom: 326px;
  
}

.bolaesp3{
    background-color: rgb(206, 206, 206);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: relative;
    left: 38px;
    bottom: 279px;
  
}

.bolaesp4{
    background-color: rgb(206, 206, 206);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: relative;
    left: 158px;
    bottom: 339px;
  
}

.txtbola{
    width: 100px;
    height: 20px;
    background-color: ;
    position: relative;
    top: 66px;
    left: -17px;
}

.txtbolaesp{
    width: 100px;
    height: 30px;
    background-color: ;
    position: relative;
    top: 66px;
    left: -17px;
    text-align: center;
}

.subtitol{
    color: white;
    font-size: 0.8rem;
}

.subtitolesp{
    color: white;
    font-size: 0.8rem;
    left: -1px;
}

.dos{
    position: relative;
    left: 6px;
}

.tres{
    position: relative;
    left: 2px;
}

#mes{
    width: 45px;
    height: 45px;
    background-color: #225587;
    position: relative;
    bottom: 390px;
    border-radius: 50%;
    left: 285px;
}

#mes img{
    width: 35px;
    height: 35px;
    position: relative;
    top: 5px;
    left: 5px;
}

.bola img{
    width: 40px;
    height: 40px;
    position: relative;
    bottom: -10px;
    left: 10px;
}

.bolaesp1 img{
    width: 40px;
    height: 40px;
    position: relative;
    bottom: 10px;
    left: 10px;
}

.bolaesp2 img{
    width: 40px;
    height: 40px;
    position: relative;
    bottom: 20px;
    left: 10px;
}

.bolaesp3 img{
    width: 40px;
    height: 40px;
    position: relative;
    bottom: 20px;
    left: 10px;
}

.ii img{
    position: relative;
    bottom: 17px;
}

.iii img{
    position: relative;
    bottom: 18px;
}

.txtactiu{
    color: white;
    font-size: 0.8rem;
    position: relative;
    top: 3px;
    left: 12px;
}

.txtpersonalitzar{
    color: #225587 ;
    font-size: 0.8rem;
    position: relative;
    top: 3px;
    left: 8px;
}

#actiu img{
    width: 12px;
    height: 6px;
    position: relative;
    bottom: 14px;
    left: 57px;
}

#cercle3 img{
    width: 90px;
    height: 90px;
    position: relative;
    top: 7px;
    left: 9px;
}

.txtarriba1{
    color: white;
    font-size: 0.9rem;
    position: relative;
    left: 65px;
    bottom: 140px;
}

.txtarriba2{
    color: white;
    font-size: 0.65rem;
    position: relative;
    left: 53px;
    bottom: 153px;
}

.barra1{
    width: 65px;
    height: 10px;
    background-color: #225587;
    border: solid 1px #225587;
    position: relative;
    bottom: 135px;
    left: 139px;
    border-radius: 25px 0 0 25px;
}

.barra2{
    width: 65px;
    height: 10px;
    background-color: white;
    border: solid 1px #225587;
    position: relative;
    bottom: 147px;
    left: 204px;
}
.barra3{
    width: 65px;
    height: 10px;
    background-color: white;
    border: solid 1px #225587;
    position: relative;
    bottom: 159px;
    left: 265px;
    border-radius: 0 25px 25px 0;
}

.ap1{
    width: 350px;
    height: 80px;
    background-color: #2866a3;
    position: relative;
    margin: 0 auto;
    bottom: 130px;
    border-radius: 15px;
}

.ap2{
    width: 350px;
    height: 60px;
    background-color: #2866a3;;
    position: relative;
    margin: 0 auto;
    bottom: 120px;
    border-radius: 15px;
}

.ap3{
    width: 350px;
    height: 140px;
    background-color: #2866a3;;
    position: relative;
    margin: 0 auto;
    bottom: 110px;
    border-radius: 15px;
}

.titol{
    width: 350px;
    height: 15px;
    background-color: #225587;
    border-radius: 15px 15px 0 0;

}

.txttit{
    color: white;
    position: relative;
    font-size: 0.7rem;
    top: 1.5px;
    left: 10px;
}

.txttit2{
    color: white;
    position: relative;
    font-size: 0.7rem;
    top: 1.5px;
    left: 134px;
}

.txttit3{
    color: white;
    position: relative;
    font-size: 0.7rem;
    top: 1.5px;
    left: 144px;
}

.txtap1{
          color: white;
        font-size: 0.7rem;
        position: relative;
        left: 14px;
        top: 10px;
}

.dies{
    background-color: #225587;
    width: 30px;
    height: 17px;
    position: relative;
    top: 20px;
    float: left;
    margin-left: 12px;
    right: 40px;
    border-radius: 10px;
}

.dies p{
    color: white;
    font-size: 0.7rem;
    position: relative;
    top: 2px;
    left: 5px;
}

.hora{
    width: 250px;
    height: 22px;
    background-color: #225587;
    position: relative;
    top: 11px;
    left: 25px;
    border-radius: 5px;
}
.hora p{
    color: white;
    position: relative;
    font-size: 0.8rem;
    top: 3px;
    left: 5px;
}

.switch{
    width: 40px;
    height: 19px;
    background-color: #225587;
    position: relative;
    bottom: 9.5px;
    left: 285px;
    border-radius: 25px;
}

#esfera{
    width: 13px;
    height: 13px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    top: 3px;
    left: 3px;

}

.txtap3{
    color: white;
    font-size: 0.8rem;
    position: relative;
    top: 7px;
    left: 145px;
}

.img1{
    width: 14px;
    height: 14px;
    position: relative;
    bottom: 9px;
    left: 116px;
}

.img2{
    width: 14px;
    height: 14px;
    position: relative;
    bottom: 9px;
    left: 200px;
    rotate: 180deg;
}

#contenidor{
    width: 260px;
    height: 85px;
    position: relative;
    margin: 0 auto;
    background-color: #225587;
    bottom: 4px;
    border-radius: 10px;
    overflow: scroll;
}

.bolita{
    width: 24px;
    height: 24px;
    background-color: #03ad2e;
    position: relative;
    border-radius: 50%;
    float: left;
    margin-left: 12px;
    left: px;
    margin-top: 13px;
}

.bolitasel{
    width: 24px;
    height: 24px;
    background-color: #2866a3;
    position: relative;
    border-radius: 50%;
    float: left;
    margin-left: 12px;
    left: px;
    margin-top: 13px;
}

.bolitafinde{
    width: 24px;
    height: 24px;
    background-color: #9f9f9f;
    position: relative;
    border-radius: 50%;
    float: left;
    margin-left: 12px;
    left: px;
    margin-top: 13px;
}

.bolitat{
    width: 24px;
    height: 24px;
    background-color: transparent;
    position: relative;
    border-radius: 50%;
    float: left;
    margin-left: 12px;
    left: px;
    margin-top: 13px;
}

.bolitan{
    width: 24px;
    height: 24px;
    background-color: red;
    position: relative;
    border-radius: 50%;
    float: left;
    margin-left: 12px;
    left: px;
    margin-top: 13px;
}

.txtbolita{
    color: white;
    position: relative;
    font-size: 0.9rem;
    top: 4px;
    left: 8px;
}

.txtbolitaesp{
    color: white;
    position: relative;
    font-size: 0.9rem;
    top: 4px;
    left: 3.5px;
}

/*_______________________pestanyes_____________________*/


/*_______________________contenidor_______________*/

#contenidor1{
    width: 375px;
    height: 603px;
    position: relative;
    margin: 0 auto;
    background-color: #007FB7;
    top: 66px;
    border-radius:15px 2% 0 0;
    z-index: 300;
}


/*_______________________contenidor_______________*/

#contenidor2{
    width: 375px;
    height: 603px;
    background-color: white;
    position: relative;
    top: 0px;
   
    overflow: hidden;
}




/*_______________________contenidor_______________*/
/*_______________________footer_____________________*/

#footer{
    height: 60px;
    width: 100%;
    background-color: #007FB7;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

#footer2{
    width: 390px;
    height: 100%;
    background-color:#007FB7;
    position: relative;
    margin: 0 auto;
    z-index: 5;
}

.icon{
    width: 52px;
    height: 52px;
    background-color: ;
    float: left;
    margin-left: 22px;
    margin-top: 4px;
}



.check img{
    width: 40px;
    height: 34px;
    position: relative;
    top: 9px;
    left: 4px;
    opacity: 80%;
}

.lupa img{
    width: 36px;
    height: 36px;
    position: relative;
    top: 8px;
    left: 8px;
    opacity: 80%;
}

.home{
    background-color: #225587;
    border-radius: 50%;
    width: 62px;
    height: 62px;
    margin-left: 17px;
    margin-right: -7px;
    top: -20px;
    position: relative;
    border: solid 4px white;
    position: relative;
    z-index: 4;
}

.home img{
    width: 38px;
    height: 38px;
    position: relative;
    top: 10px;
    left: 12px;
    
}

.zen img{
    width: 38px;
    height: 38px;
    position: relative;
    top: 7px;
    left: 7px;
    opacity: 80%;
}

.config img{
    width: 38px;
    height: 38px;
    position: relative;
    top: 7px;
    left: 7px;
    opacity: 80%;
}

a{
    text-decoration: none;
}
/*_______________________footer_____________________*/