
*{
    font-family: helvetica;
}

body {
    background-color: #007FB7;
    height: 100%;
    width: 100%;
}

#logo{
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 0 auto;
    margin-top: 50%;
    
   
}

#logo img{
    width: 200px;
    height: 107px;
    cursor: pointer;
    position: relative;
    
}

#logo img:hover{
    transform: scale(1.9);
    transition: 1.5s;
}