*{
    font-family: helvetica;
    margin: 0;
}

body {
 background-color: #007FB7;
 font-family: ;
 position: relative;
 height: 669px;
 width: 390px;
 margin: 0 auto;
overflow: hidden;
}

#contenidor {
    height: 669px;
    width: 390px;
    background-color: #007FB7;
    margin: 0 auto;
    z-index: 1;
    position: relative;
}

#contenidor img {
    height: 669px;
    width: 340px;
    background-color: #007FB7;
    position: relative;
    left: 25px;
   
}

#registre {
    height: 50px;
    width: 370px;
    border-radius: 25px;
    background-color: white;
    z-index: 2;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    top: -460px;
    position: relative;
    opacity: 75%;
}

a{
    text-decoration: none;
    color: rgb(182, 68, 68);
}

h3{
    text-align: left;
    padding-top: 15px;
    text-decoration: none;
    margin-left: 15px;
    color: #FF4E45;
}

h4{
    color: white;
    font-size: 20px;
    margin-top: 1px;
    text-align: center;
    padding-top: 15px;
}


#registre:hover{
    opacity: 100%;
}

#accedir{
    height: 50px;
    width: 370px;
    border-radius: 25px;
    background-color: #FF4E45;
    z-index: 2;
    margin: 0 auto;
    margin-top: 25px;
    top: -450px;
    position: relative;
    opacity: 75%;
}

#accedir:hover{
    opacity: 100%;
}

#accedir a{
    color: ;
}