*{
    font-family: helvetica;
}

body {
    background-color: white;
    font-family: ;
    margin-top: -30px;
   }

header{
    width: auto;
    height: 115px;
    background-color: #007FB7;
}



#contenidor{
    width: auto;
    height: 914px;
    background-color: #007FB7;
}

.pestaña1{
    width: 420px;
    height: 914px;
    background-color: #007FB7;
    margin: 0 auto;
    z-index: 1;

}


#programa{
    width: 130px;
    height: 65px;
    background-color: ;
    margin: 0 auto;
}

 a{
    text-decoration: none;
}

#mes{
    width: 50px;
    height: 50px;
    background-color: #225587;
    border-radius: 35px;
    position: fixed;
    z-index: 4;
    margin-top: 422px;
    margin-left: 320px;
   
}

#mes:hover{
    background-color: #EB5C4E;
}

#correccio{
    height: 50px;
    width: 260px;
    background-color: transparent;
    position: fixed;
    margin-top: -100px;
    margin-left: 130px;
    z-index: 1;
}

#mes img{
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-top: 5px;
}

#desplegable{
    height: 30px;
    width: 130px;
    background-color: #225587;
    margin-top: 25px;
    border-radius: 7px;
}

h2{
    color: white;
    font-weight: 400;
    font-size:17px;
    text-align: center;
    line-height: 25px;
}

.p1{
    height: 50px;
    width: 10px;
    background-color: #007FB7;
    float: left;
}

.p1 img{
    width: 130px;
    height: 50px;
    margin-top: 0px;
}

.p2{
    height: 50px;
    width: 130px;
    background-color: #225587;
    margin-top: 0;
    border-radius: 20px 20px 0 0;
    z-index: 5;
    margin-left: 130px;
}

.p2 img{
    width: 130px;
    height: 50px;
    margin-top: 0px;
}

.p3{
    height: 50px;
    width: 130px;
    background-color: #225587;
    border-radius: 20px 20px 0 0;
    z-index: 3;
    margin-top: -50px;
    margin-left: 260px;

}

.p3 img{
    width: 130px;
    height: 50px;
    margin-top: 0px;
}




#logo{
    height: 90px;
    width: 120px;
    background-color: #007FB7;
    margin: 0 auto;
}

img{
    height: 65px;
    width: 120px;
    margin-top: 25px;
}

#calendari{
    width: auto;
    height: 60px;
    background-color: #007FB7;
}

.bolas{
    width: 45px;
    height: 45px;
    background-color: white;
    float: left;
    display: inline;
    margin-top: 16px;
    margin-left: 12px;
    border-radius: 25px;
}

#ttt{
    width: 413px;
    height: 65px;
    background-color: #007FB7;
    margin-top: 5px;
    margin: 0 auto;
}

h6{
    text-align: center;
    font-size: 21px;
    margin-top: -4px;
    font-weight: 500;
}

.dias{
    width: 30px;
    height: 18px;
    background-color: ;
    margin-left:8px;
    margin-top: -9px;
    text-align: center;
}



header p{
    font-size: 14px;
    font-weight: ;
}

::-webkit-scrollbar {
    display: none;
}




.iconos{
    width: 60px;
    height: 60px;
    background-color: ed;
    border-radius: 35px;
    margin-left: 12px;
    
    display: inline-block;
    margin-top: 11px;
}

#barra{
    height: 60px;
    width: 390px;
    background-color:;
    margin: 0 auto;
    top: 15px;
}

#barra img{
    width: 35px;
    height: 35px;
    padding-top:-25px;
    margin-left: 10px;
}

.check img{
    width: 35px;
    height: 30px;
}

h3{
    color: white;
    font-size: 15px;
    margin-left: 7px;
    padding-top: 7px;
    font-weight: 500;
  
}

#pestañita{
    width: 12px;
    height: 9px;
    background: ;
    margin-left: 111px;
    margin-top: -33.5px;
}

#pestañita img{
    width: 12px;
    height: 9px;
    margin-top: -40px;
}




#contenidor2{
    width: 365px;
    height: 140px;
    background-color:  white;
    overflow-y: scroll;
    border-radius: 25px;
    margin-left: 26px;
}

#volver{
    background-color: ;
    width: 60px;
    height: 60px;
    margin: 40px;
    padding-bottom: 40px;
}

#volver img{
    background-color: ;
    width: 45px;
    height: 45px;
    margin-left: 7px;
    margin-top: 45px;

}

h1{
    color: white;
    background-color: ;
    font-size: 30px;
    font-weight: 400;
    margin-top: -90px;
    margin-left: 132px;
    padding-bottom: 0px;
    
}

#nhabit{
    width: 365px;
    height: 40px;
    background-color: #225587;
}

h5{
    color: white;
    margin-top: 0px;
    padding-top: 13px;
    font-weight: 400;
    margin-left: 130px;
    font-size: 15px;
}

#propia{
    width: 325px;
    height: 30px;
    background-color: #225587;
    border-radius: 50px;
    margin-left: 20px;
    margin-top: 13px;
}


#inventada{
    width: 325px;
    height: 30px;
    background-color: #007FB7;
    border-radius: 50px;
    margin-left: 20px;
    margin-top: 13px;
}

h6{
    color: white;
    margin-top: 0px;
    font-size: 13px;
    text-align: left;
    padding-top: 8px;
    padding-left: 16px;
}
#contenidor3{
    width: 365px;
    height: 260px;
    background-color:  white;
    overflow-y: scroll;
    border-radius: 25px;
    margin-left: 26px;
    margin-top: 15px;
}

#iconacolor{
    width: 365px;
    height: 40px;
    background-color: #225587;
}

.ic{
    margin-left: 140px;
}

#contenidor4{
    width: 365px;
    height: 160px;
    background-color:  white;
    overflow-y: scroll;
    border-radius: 25px;
    margin-left: 26px;
    margin-top: 15px;
}

#contenidor5{
    width: 365px;
    height: 100px;
    background-color:  white;
    overflow-y: scroll;
    border-radius: 25px;
    margin-left: 26px;
    margin-top: 15px;
}

#contenidor6{
    width: 170px;
    height: 50px;
    background-color:  #EB5C4E;
    overflow-y: scroll;
    border-radius: 25px;
    margin-left: 124px;
    margin-top: 17px;
    border: solid 2px white;
}

.fecha{
    width: 38px;
    height: 25px;
    background-color: #007FB7;
    float: left;
    margin-left: 12.5px;
    margin-top: 10px;
    border-radius: 30%;
}

.tfecha{
    color: white;
    margin-left: 0px;
    text-align: center;
    font-size: 13px;
    margin-top: -7px;
}

#intervaltxt{
    width: 365px;
    height: 70px;
    background-color: ;
    margin-top: 42px;
    
}

#esquerra{
    width: 137.5px;
    height: 70px;
    background-color: ;
    float: left;
}

#mig{
    width: 90px;
    height: 70px;
    background-color: ;
    float: left;
    
}

#dreta{
    width: 137.5px;
    height: 70px;
    background-color: ;
    float: left;
    overflow-y: scroll;
}

h4{
    color: #225587;
    font-size: 18px;
    text-align: center;
}

#recordboto{
    width: 265px;
    height: 40px;
    background-color: #225587;
    margin-left: 12px;
    margin-top: 10px;
    border-radius: 15px;
}

#recordboto h5{
    margin-left: 20px;
    font-size: 13px;
}

#recordboto2{
    width: 67px;
    height: 30px;
    background-color: red;
    margin-left: 287px;
    margin-top: -36px;
    border-radius: 25px;
}

#mig h4{
    font-size: 25px;
    font-weight: 400;
    margin-top: 20px;
}

.crear{
    color: white;
    font-weight: 400;
    margin-top: 17px;
    font-size: 15px;
}

.checkbox{
    margin-left: 85px;
    margin-top: -586px;
    background-color: yellow;
    width: 250px;
    height: 250px;
    border: 2px solid #fafafa10;
    border-radius: 15px;
}

.blur{
background-color: #fafafa10;
backdrop-filter: blur(0.4rem);
-webkit-backdrop-filter: blur(0.4rem);
}

/*____________Animacion check______________*/

.success-animation { margin:70px auto;}

.checkmark {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    stroke-width: 4;
    stroke: #4bb71b;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #4bb71b;
    animation: fill .4s ease-in-out .4s forwards, scale .4s ease-in-out .9s both;
    position:relative;
    top: 5px;
    right: 5px;
   margin: 0 auto;
}
.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 5;
    stroke-miterlimit: 10;
    stroke: #4bb71b;
    fill: #fff;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
 
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #4bb71b;
    }
}
