*{
    margin: 0;
    font-family: helvetica;
}

::-webkit-scrollbar {
    display: none;
}


body{
    background-color: #007FB7;
    overflow: hidden;
}

#header{
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: #007FB7;
}

/*_______________________calendari_____________________*/

#calendari{
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: #007FB7;
    top: 60px;
}

#calendari2{
    position: relative;
    width: 390px;
    height: 60px;
    background-color: #007FB7;
    margin: 0 auto;
    overflow-x: scroll;
}

.bola{
    width: 48px;
    height: 48px;
    background-color: white;
    border-radius: 50%;
    float: left;
    margin-left: 12.5px;
    margin-top: 5px;
    margin-bottom: 2.5px;
    border: solid 0.5px white;
}

.txt1{
    width: 40px;
    height: 25px;
    background-color: ;
    position: relative;
    top: 7px;
    left: -1px;
    margin: 0 auto;
}

    .dia{
        font-size: 0.8rem;
        text-align: center;
        font-weight: 400;
        left: 2px;
        position: relative;
    }

.txt2{
    width: 40px;
    height: 25px;
    background-color: ;
    position: relative;
    top: 0px;
    left: -0.5px;
    margin: 0 auto;
    font-size: 1.5rem;
    line-height: 22px;
}

    .num{
        text-align: center;
        position: relative;
        top: -3px;
        left: 2px;
    
    }

/*_______________________calendari_____________________*/

#logoimg{
    height: 100%;
    width: 80px;
    background-color: ;
    position: relative;
    margin: 0 auto;
}

#logoimg img{
    width: 80px;
    height: 45px;
    position: relative;
    top: 8px;
}




/*_______________________pestanyes_____________________*/
.pestana{
    width: 125px;
    height: 40px ;
    border-radius: 15px 15px 0 0;
    background-color: ;
    float: left;
}

.n1{
    background-color: #225587;
}

.pestanan1{
    font-size: 0.8rem;
    color: white;
    position: relative;
    top: 13px;
    padding-left: 50px;
}

.n1 img{
    width: 34px;
    height: 26px;
    position: relative;
    top: 12px;
    left: 50px;
}

.n2{
    background-color: #007FB7;
}

.n2 img{
    width: 40px;
    height: 20px;
    position: relative;
    top: 11px;
    left: 43px;
}

.n3{
    background-color: #225587;
}

.pestanan3{
    font-size: 1.1rem;
    color: white;
    position: relative;
    top: 11px;
    padding-left: 15px;
}

.n3 img{
    width: 31px;
    height: 28px;
    position: relative;
    top: 8px;
    left: 50px;
}

/*_______________________pestanyes_____________________*/


/*_______________________contenidor_______________*/

#contenidor1{
    width: 375px;
    height: 525px;
    position: relative;
    margin: 0 auto;
    background-color: #007FB7;
    top: 66px;
    border-radius:5%;
    z-index: 300;
}

.rectangle{
    background-color: #225587;
    width: 330px;
    height: 80px;
    position: relative;
    margin: 0 auto;
    border-radius: 10px;
    top: 5.5px;
}

.imattge {
    position: relative;
    margin: 0 auto;
    width: 70px;
    height: 70px;
    background-color: red;
    
}

.imattge img{
    height: 100%;
    width: 100%;
    position: relative;
    }
    

#dr{
    width: 30%;
    height: 92px;
    background-color: ;
    float: left;
}

#esq{
    width: 70%;
    height: 92px;
    background-color: ;
    float: right;
}

.drr{
    text-align: center;
    color: #225587;
    margin-top: 10px;
    position: relative;
    font-size: 0.9rem;
    font-weight: 600;
}

.ttal{
    width: 80%;
    height: 22px;
    background-color: #225587;
    position: relative;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 6px;
}

.esqq{
    font-size: 0.8rem;
    font-weight: 400;
    color: white;
    text-align: center;
    top: 3.5px;
    position: relative;
}


/*_____________desplegable____________*/

#desplegable{
    width: 180px;
    height: 25px;
    background-color: #225587;
    position: relative;
    margin: 0 auto;
    top: 50px;
    left: 2px;
    border-radius: 10px;
    text-align: center;
}

.pdesplegable{
    font-size: 0.85rem;
    position: relative;
    top: -34px;
    left: 0px;
    font-weight: 600;
    color: white;
}

#desplegable img{
    width: 13px;
    height: 8px;
    position: relative;
    top: -51px;
    left: 120px;
}

/*_____________desplegable____________*/




#mes{
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #225587;
    top: 545px;
    left: 310px;
    opacity: 80%;
}

#mes:hover{
    opacity: 100%;
}

#mes img{
    position: relative;
    width: 30px;
    height: 30px;
    top: 5px;
    left: 5px;
}

/*_______________________contenidor_______________*/

#contenidor2{
    width: 375px;
    height: 515px;
    background-color: #007FB7;
    position: relative;
    top: 10px;
    border-radius: 0 0 17px 17px;
    overflow: hidden;
}

#contenidor2 img{
    position: relative;
    width: 30px;
    height: 30px;
    top: 5px;
}

.volver{
    color: white;
    position: relative;
    font-size: 1.5rem;
    top: -27px;
    left:95px;
}

.apartado{
    width: 350px;
    height: 80px;
    background-color: white;
    position: relative;
    border-radius: 10px;
    top: -10px;
    margin: 0 auto;
}

.ap2{
    margin-top: 10px;
    position: relative;
    height: 110px;
}

.ap3{
    margin-top: 10px;
    position: relative;
    height: 110px;
}

.ap4{
    margin-top: 10px;
    position: relative;
    height: 75px;
}

.ap5{
    margin-top: 12px;
    position: relative;
    height: 50px;
    background-color: transparent;
}

.botton{
    height: 38px;
    width: 120px;
    border-radius: 10px;
    background-color: red;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    position: relative;
   left: 43px;
}

.parriba{
    position: relative;
    font-size: 0.75rem;
    color: white;
    top: 2px;
    text-align: center;
}

.arriba{
    width: 100%;
    height: 18px;
    background-color: #225587;
    position: relative;
    border-radius: 10px 10px 0 0;
}

.op{
    width: 300px;
    height: 23px;
    background-color: #225587;
    position: relative;
    margin: 0 auto;
    margin-top: 5px;
    border-radius: 20px;
    opacity: 85%;
}

.txtop1{
    color: white;
    font-size: 0.8rem;
    top: 4px;
    left: 13px;
    position: relative;
}

#semana{
    width: auto;
    height: 22px;
    background-color: ;
    position: relative;
    top: 6px;
  
}

.dia{
    height: 22px;
    width: 37px;
    background-color: #225587;
    position: relative;
    margin-left: 11px;
    float: left;
    border-radius: 10px;
    opacity: 85%;
}

.pdia{
    color: white;
    position: relative;
    top: 4px;
}

#taula{
    width: auto;
    height: 40px;
    background-color: ;
    position: relative;
    top: 12px;
}

.taula2{
    background-color: white;
    height: 100%;
    width: 116.66px;
    float: left;

}

.dia2{
    background-color: white;
    height: 40px;
    width: 116.50px;
}

.tau3{
    background-color: white;
    overflow-y: scroll;
}

.tau4{
    background-color: white;
}

.ptaula2{
    color: #225587;
    font-size: 1.2rem;
    text-align: center;
    position: relative;
    top: 10px;
    font-weight: 600;
}

.numero{
    color: #225587;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 600;
    position: relative;
    top: 8px;
}


.esp{
    background-color: #78b3ee;
  
}

.pap3{
    color: #225587;
    font-size: 0.9rem;
    position: relative;
    top: 4px;
    left: 50px;
    margin-top: 6px;
}

#btn1{
    width: 160px;
    height: 17px;
    background-color: #225587;
    position: relative;
    left: 150px;
    top: -57px;
    border-radius: 5px;
}

#btn2{
    width: 160px;
    height: 17px;
    background-color: #225587;
    position: relative;
    left: 150px;
    top: -52px;
    border-radius: 5px;
}

#btn3{
    width: 160px;
    height: 17px;
    background-color: #225587;
    position: relative;
    left: 150px;
    top: -47px;
    border-radius: 5px;
}

.btn{
    color: white;
    font-size: 0.9rem;
    position: relative;
    left: 40px;
}

.btnesp{
    color: white;
    font-size: 0.9rem;
    position: relative;
    left: 48px;
}

.crear{
    width: 160px;
    height: 30px;
    margin: 0 auto;
    background-color: #EB5C4E;
    position: relative;
    border-radius: 30px;
    border: solid white 2px;
    top: 5px;
}

.pcrear{
    font-size: 0.8rem;
    color: white;
    position: relative;
    text-align: center;
    top: 7px;
}

#botonrec{
    width: 300px;
    height: 27px;
    position: relative;
    margin: 0 auto;
    background-color: #225587;
    top: 7px;
    border-radius: 8px;
    opacity: 85%;;
    margin-top: 9.3px;
}

.precordatori{
    color: white;
    position: relative;
    font-size: 0.8rem;
    top: 5px;
    left: 8px;
}

.switch{
    position: relative;
    height: 18px;
    width: 40px;
    background-color: #78b3ee;
    top: -10px;
    left: 254px;
    border-radius: 80px;
}

#esfera{
    width: 60px;
    height: 60px;
    background-color: #225587;
    position: relative;
    border-radius: 50%;
    margin: 0 auto;
    bottom: 65px;
}

#esfera img{
    width: 60px;
    height: 60px;
    position: relative;
    top: 0px;
}

#picker{
    width: 115px;
    height: 80px;
    background-color: ;
    position: relative;
    left: 15px;
    top: 6px;
}

#picker2 img{
    width: 105px;
    height: 40px;
    position: relative;
}

.bolita{
    width: 25px;
    height: 25px;
    background-color: #00B737;;
    border-radius: 50%;
    float: left;
    margin-left: 9px;
    margin-top: 9px;
}

#picker2{
    width: 115px;
    height: 40px;
    background-color: ;
    position: relative;
    bottom: 118px;
    left: 225px;
}

.taronja{
    background-color: #FF8C00;;
}

.blau{
    background-color: #00FFFF
}

.marron{
    background-color:  #CD9965;
}
.vermell{
    background-color: #FFFF00;
}

.rosa{
    background-color: whitesmoke;
}
/*_______________________contenidor_______________*/
/*_______________________footer_____________________*/

#footer{
    height: 60px;
    width: 100%;
    background-color: #007FB7;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

#footer2{
    width: 390px;
    height: 100%;
    background-color:#007FB7;
    position: relative;
    margin: 0 auto;
    z-index: 5;
}

.icon{
    width: 52px;
    height: 52px;
    background-color: ;
    float: left;
    margin-left: 22px;
    margin-top: 4px;
}



.check img{
    width: 40px;
    height: 34px;
    position: relative;
    top: 9px;
    left: 4px;
    opacity: 80%;
}

.lupa img{
    width: 36px;
    height: 36px;
    position: relative;
    top: 8px;
    left: 8px;
    opacity: 80%;
}

.home{
    background-color: #225587;
    border-radius: 50%;
    width: 62px;
    height: 62px;
    margin-left: 17px;
    margin-right: -7px;
    top: -20px;
    position: relative;
    border: solid 4px white;
    position: relative;
    z-index: 4;
}

.home img{
    width: 38px;
    height: 38px;
    position: relative;
    top: 10px;
    left: 12px;
    
}

.zen img{
    width: 38px;
    height: 38px;
    position: relative;
    top: 7px;
    left: 7px;
    opacity: 80%;
}

.config img{
    width: 38px;
    height: 38px;
    position: relative;
    top: 7px;
    left: 7px;
    opacity: 80%;
}

a{
    text-decoration: none;
}
/*_______________________footer_____________________*/