
*{
    font-family: helvetica;
}

body {
    background-color: #007FB7;
    margin: 0;
}

#logo{
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 0 auto;
}

#logo img{
    width: 200px;
    height: 107px;
    cursor: pointer;
    position: relative;
    top: 50px;
}

#logo img:hover{
    transform: scale(1.9);
    transition: 1.5s;
}

#contenidor{
    background-color: white;
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 auto;
    z-index: 5;

    align-content: center;
}