
*{
    font-family: helvetica;
}

body {
    background-color: #007FB7;
    margin: 0;
 
}

#logo{
    width: 200px;
    height: 80%;
    background-color: ;
    margin: 0 auto;
 
}

#logo img{
    width: 200px;
    height: 107px;
    cursor: pointer;
    position: relative;
    top: -110px;
    margin-top: 200%;
   
}

#logo img:hover{
    transform: scale(1.9);
    transition: 1.5s;
}

#contenidor{
    background-color: transparent;
    height: 100%;
    width: 200px;

    margin: 0 auto;

  

}